<head>
    <title>Random Passcode Generator</title>
</head>
<div class="text-center">
    <h1 class="display-4">Random passcode @ViewBag.Count</h1>
    <div style="border: 2px solid black; width: 400px; margin-left: 350px">
        <p>@ViewBag.passcode</p>
    </div>
    <a type = "Submit" href="new">Generator</a>
</div>
