@{
    ViewData["Title"] = "Home Page";
}

@model Product
<h2> <a href="products"> Products </a> | <a href = "catergories" > Catergories</a>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
