* {
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 100px;
  margin-left: 500px;
  font-size: x-large;
}

.time-box {
  border: 2px solid black;
  margin-top: 20px;
  width: 240px;
}

.time-box > p {
  margin-left: 38px;
}
